.buy-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn-buy {
  display: flex;
  justify-content: space-around;
  width: 88%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}